@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 620px;margin-right: 30px
    }
     main#wrap-main .tab-control {
	    width: 200px;margin-right: 30px
	}
    /*.wrapper.active{max-width: 668px;}*/
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 750px;
    }
     main#wrap-main .tab-control {
        width: 224px;
    }
     /*.wrapper.active{max-width: 904px;}*/
}
@media (min-width: 1280px) {
	main#wrap-main .tab-control {
	    width: 230px;
	}
	.wrapper {
        max-width: 1050px;margin-right: calc((100vw - 1050px) / 2);
    }
    .wrapper.active{max-width: 1204px;margin-right: calc(((100vw - 1050px) / 2));}
}
@media (min-width: 1366px) {
    
    main#wrap-main .tab-control {
        width: 250px;
    }
}
@media (min-width: 1800px) {
    main#wrap-main .tab-control {
        width: 274px;
    }
    .wrapper {
        max-width: 1200px;margin-right: calc((100vw - 1200px) / 2);
    }
     .wrapper.active{max-width: 1398px;;margin-right: calc((100vw - 1200px) / 2);}
}






/*responsive*/
@media (max-width: 1280px) {
    .wrapper {max-width: 100%}
    main#wrap-main{overflow: hidden;}
}
@media (max-width: 1080px) {
    main.page-index .form-row {margin-right: -9px;margin-left: -9px;}
    main.page-index .form-row>[class*=col-] {padding-right: 9px;padding-left: 9px;}
     .page-index label {font-size: 13px;}
}
@media (max-width: 1024px) {
    /*index*/
    main.page-index .form-row {margin-right: -5px;margin-left: -5px;}
    main.page-index .form-row>[class*=col-] {padding-right: 5px;padding-left: 5px;}
    body .set-layout {padding: 10px 20px;}
    main#wrap-main .item-control .text-name h3 {font-size: 14px;}
    .page-index label {margin-bottom: 14px;font-size: 12px;}
    main#wrap-main .edit-Page {top:10px;right: 20px}
}
@media (max-width: 992px) {
    main#wrap-main .tab-control .logo-web a img{height: 30px}
    header#header>.container>.logo-web {height: 25px;}
    main#wrap-main .tab-control .logo-web {margin-top: 10px}
    main#wrap-main .tab-control .logo-web {padding: 10.5px 13px;}
    main#wrap-main .tab-control, .wrapper{ margin-right: 15px;}
    body .set-layout {margin-bottom: 15px}
    body input, body select, body textarea {height: 30px!important}
    body .select-form select {background-position-x: 96.5%;background-size: 14px;}
    main#wrap-main #tab-controls.active .logo-web {height: 50px;}
}
@media (max-width: 768px) {
    /*index*/
    body{font-size: 13px}
    .page-index label {margin-bottom: 10px;}
    body main#wrap-main input.form-control,body  main#wrap-main select.form-control, body  main#wrap-main textarea.form-control{margin-bottom: 15px}
    header#header>.container>.logo-web img {display: block;height:30px;object-fit: cover;margin-top:-2.5px;}
    header#header .logo-web>a {display: flex;justify-content: center;}
    button.button-index {margin-top: 0}
    main#wrap-main .tab-control .logo-web a{display: none}
    main#wrap-main #tab-controls.active .logo-web {height: 45px;}
    main#wrap-main .tab-control .logo-web a img ,main#wrap-main .item-control{visibility: hidden;opacity: 0}
    main#wrap-main .tab-control{width: 70px;height: 45px;position: absolute;background: #fff;}
    main#wrap-main .tab-control .logo-web {display: flex;justify-content: center;margin-top:0;height: 100%;border:none;}
    .wrapper{margin-left: 15px}

     /*main#wrap-main .tab-control.active{height: auto}*/
     /*main#wrap-main .item-control .text-name {display: block!important}*/
     /*main#wrap-main .tab-control.active .item-control { visibility: visible;opacity: 1}*/
}