@font-face {
	font-family:Roboto-Regular;
	src:url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
	url('./fonts/Roboto/Roboto-Regular.eot#iefix') format('embedded-opentype'),
	url('./fonts/Roboto/Roboto-Regular.woff') format('woff');

}
@font-face {
	font-family:Roboto-Bold;
	src:url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
	url('./fonts/Roboto/Roboto-Bold.eot#iefix') format('embedded-opentype'),
	url('./fonts/Roboto/Roboto-Bold.woff') format('woff');
}
@font-face {
	font-family:KozGo-Pr6N-Regular;
	src:url('./fonts/kozuka-gothic-pr6n/KozGoPr6NRegular.ttf') format('truetype'),
	url('./fonts/kozuka-gothic-pr6n/KozGoPr6NRegular.eot#iefix') format('embedded-opentype'),
	url('./fonts/kozuka-gothic-pr6n/KozGoPr6NRegular.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}
:root{
	--color-gray: #EBECF5;
	--color-main: #FFFFFF;
	--color-main-green:#3C79F3;
	--color-border: #F6F6F6;
	--padding-item-control: 9px 17px 9px 17px;
	--margin-layout:30px;
	--font-bold: "Roboto-Bold"
}
/* defautl */
*{margin: 0; padding: 0;}
*,*::before, *::after{box-sizing: border-box;}
p{margin-bottom: 0;}
a{color: black;}
a:hover{text-decoration: none;}
ul{list-style: none;margin-bottom: 0}
body{font-family: "Roboto-Regular"; font-size: 14px;color:#6A6A6A;line-height: 16.41px;}
h1,h2,h3,h4,h5,h6{margin-bottom: 0; font-family: var(--font-bold)}
h1{font-size: inherit;}
img{object-fit: cover}
/*fonts*/
/*default properties*/

/*default class*/
body{background: var(--color-gray)}
body button{background: var(--color-main-green)}
body .set-layout{margin-bottom: 30px;padding:27px 30px;background: #fff;border-radius: 5px}
body .select-form{position: relative;width: 100%}
body .select-form select{-webkit-appearance: none;color: #666666;-moz-appearance: none;background-image: url("../images/arrow-down.png");background-repeat: no-repeat;background-position-x: 97.5%;background-position-y:12px;}

/*login*/
/*form*/
input,button,button:focus,select,textarea{outline: none;outline-style: none;border: 0px;margin:0;box-shadow:none!important;}
button.bg-gray{background-color: #EDEDED}
button.bg-gray:hover{background-color: #b3a8a8}
button.bg-blue{background-color: #3C79F3; color: white}
button.bg-blue:hover{background-color: #406cc3; color: white}
form .form-group{margin-bottom: 20px}
form .form-row{margin-bottom: 20px}
form .form-row .form-group{margin-bottom: 0px}
form .form-row.text-area{align-items: end}
form .form-row.checkbox-group .custom-control{padding-left: 30px}
form .form-row.checkbox-group .custom-checkbox{margin-bottom: 20px}
form .form-row.checkbox-group .custom-checkbox:nth-child(even){padding-left: 40px}
h3.title-form{font-size: 14px; margin-bottom: 36px}
.custom-control-label::before,
.custom-control-label::after {top: -1px}
form .group-button{display: flex; justify-content: space-between; margin-top: 70px}
form .group-button button{width: 48%}
button{height: 45px}
.wrap-form-group .form-row{margin-bottom: 20px}
main .wrap-form-group .form-row.row-name{margin-bottom: 0}
/*body*/
body textarea{min-height: 126px}
body input,body select,body textarea{display: block;width: 100%;line-height: 1;padding: 7.5px 15px;height: 35px!important;border: 1px solid #E3E3E3;border-radius: 3px;box-sizing: border-box; }
body input[type="checkbox"]{width: 15px;margin-right: 15px;}
body button{color: #fff;transition:.2s;border:1px solid var(--color-main-green);border-radius: 3px}
body main#wrap-main .form-group-item{margin-bottom: 20px}
body main#wrap-main .wrapper-form{width: 900px;margin:0 auto;max-width: 100%;padding-top:9px;}
body main#wrap-main .wrapper-form [class*=col]{display: flex;align-items: center;}
body main#wrap-main .wrapper-form [class*=col-md-2]{flex: 0 0 18.888889%;max-width:18.888889% }
body main#wrap-main .wrapper-form [class*=col-md-5]{flex: 0 0 44.444445%;max-width:44.444445% }
body main#wrap-main .wrapper-form [class*=col-md-7]{flex: 0 0 55.555555%;max-width:55.555555% }
body main#wrap-main .wrapper-form [class*=col-md-10]{flex: 0 0 81.111111%;max-width:81.111111% }
/*header*/
header#header,body footer#footer{background: var(--color-main)}
header#header{padding:10px 0;}
body .logo-web>a{display: inline-block;}

/**/
header#header .logo-web>a{display: inline-block;}
footer#footer{margin-top:20px;}
footer#footer.position{position: fixed;bottom: 0;width: 100%;z-index: 1}
footer#footer p{font-size: 16px;line-height: 19px;padding: 15px 0;text-align: center}
/*main*/
main#wrap-main>.wrapper-login{padding-top:76px;}
main#wrap-main .wrap-form-login{width: 480px;max-width: 100%;margin:0 auto;background: var(--color-main);border-radius: 10px;padding:47px 42px;}
main#wrap-main .wrap-form-login h2{font-family:Roboto-Regular;font-weight: 400;  font-size: 25px;margin-bottom: 30px;text-transform: uppercase;text-align: center;padding: 26px 0}
main#wrap-main .wrap-form-login label{font-size: 16px;margin-bottom: 15px}
main#wrap-main .wrap-form-login input{background: #f7f7f7;padding:14px 10px;margin-bottom: 0px}
main#wrap-main .wrap-form-login .control-button{text-align: center;}
main#wrap-main .wrap-form-login .control-button button{width:285px;margin-top: 37px}
/*footer*/
footer#footer{margin-top: 20px}
footer#footer.position{position: absolute;bottom: 0;width: 100%;z-index: 1}
footer#footer p{font-size: 16px;line-height: 19px;padding: 15px 0;text-align: center}
/*index*/
/*index*/
.wrapper{
	max-width: 1200px;margin:0 auto;padding-bottom: 105px;transition: .1s;width:100%;
}
.wrapper.active{width: 1398px;}
header#header>.container>.logo-web{height: 41px} 
/*tab-control*/
main#wrap-main .tab-control{width: 274px;position: fixed;height: 100vh;left: 0;top: 0;z-index: 10; background: #fff;transition: transform .3s ease-in-out,width .3s ease-in-out;}
main#wrap-main .tab-control .logo-web{border-right: 1px solid var(--color-border);padding:var(--padding-item-control);display: flex;align-items: center;justify-content: space-between;}
main#wrap-main .item-control a{transition: .3s; display: flex;padding: 18px 23px;border-top: 1px solid var(--color-border)}
main#wrap-main .item-control .text-name{display: flex;align-items: center;}
main#wrap-main .item-control .text-name h3{font-size: 16px;color: #7b7b7b;margin-left: 17px;font-family:Roboto-Regular;}
main#wrap-main #tab-controls .icon-bar{cursor: pointer;}
main#wrap-main #tab-controls.active .icon-bar{padding:13px 10px;}
main#wrap-main #tab-controls.active{width: auto;-webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);}
main#wrap-main .control-index button{width: 100%}
main#wrap-main #tab-controls.active .logo-web>a/*,
main#wrap-main #tab-controls.active .item-control*/{display: none; visibility: hidden;opacity: 0}
/*layout-search*/
main#wrap-main .layout-search{margin-top: var(--margin-layout);}
main#wrap-main .layout-search h2{color: #000000;margin: 27px 0;font-size: 14px}
main#wrap-main .layout-search .form-controll{display: grid;grid-gap: 30px}
main#wrap-main .layout-search .form-controll-item{margin-bottom: 18px}
main#wrap-main .layout-search .form-controll-item label{margin-bottom: 18px;color:#6A6A6A;}
main#wrap-main .layout-search .control-button{grid-template-columns: 1fr 1fr 1fr;margin-top: 20px;margin-bottom: 12px}
main#wrap-main .layout-search .control-button button{padding:9px 0;}
main#wrap-main .list-product{padding:30px 0 0;}
main#wrap-main .list-product .form-controll{display: grid; padding:0 27px;grid-template-columns: 1fr 1fr 1fr;grid-gap: 30px}
main#wrap-main .list-product .form-group a.button{display: block;transition: .3s; padding:9px 0;border: 1px solid var(--color-main-green);color:var(--color-main-green);border-radius: 3px;text-align: center;}
main#wrap-main .list-product .form-group a.button:hover{background: var(--color-main-green);color: #fff}
main#wrap-main .list-product #customers{width: 100%}
main#wrap-main .list-product #customers td, main#wrap-main .list-product #customers th {width: 40%;padding: 7.5px 30px;color: #6a6a6a}
main#wrap-main .list-product #customers td:nth-child(2){width: 50%}
main#wrap-main .list-product #customers.table-index td,main#wrap-main .list-product #customers.table-index th{width: calc(100% / 3)}
main#wrap-main .list-product #customers.table-index td:nth-child(2),main#wrap-main .list-product #customers.table-index th:nth-child(2){text-align: center;}
main#wrap-main .list-product #customers td:last-child, main#wrap-main .list-product #customers th:last-child {width:80px;}
main#wrap-main .list-product #customers thead tr, main#wrap-main .list-product #customers tr:nth-child(even){background: #FAFBFF}
main#wrap-main .list-product #customers th{font-family: Roboto-Bold;color: #000}
main#wrap-main .list-product #customers tr th{height: 50px}
/*main#wrap-main .list-product #customers tr th:nth-child(2),*/
/*main#wrap-main .list-product #customers tr td:nth-child(2){text-align: center;}*/
main#wrap-main .list-product #customers tbody tr td:last-child{text-align: right;}
main#wrap-main .list-product #customers tr td>a{border: 1px solid var(--color-main-green);transition: .3s;width: 135px;text-align: center;padding:8px 25px;border-radius: 3px;color:var(--color-main-green);display: inline-block;margin:1px 0; }
main#wrap-main .list-product #customers tr td>a:hover{background:var(--color-main-green);color: #fff }
/**/
main#wrap-main .pagilation{display: flex;justify-content: center;/*padding-top:17px*/}
main#wrap-main .pagilation ul{display: flex;align-items: center;}
main#wrap-main .pagilation ul li{}
main#wrap-main .pagilation ul li a{display: flex;color:#666666;width: 36px;height: 36px;border-radius: 100%;transition: .3s; margin:0 10px;/*font-family: KozGo-Pr6N-Regular;*/ align-items: center;justify-content: center;}
main#wrap-main .pagilation ul li a:hover{color:#fff; background:var(--color-main-green) }
main#wrap-main .pagilation ul li a.active{font-size: 16px;background: var(--color-main-green);color:#fff;}

/*page new*/
main#wrap-main{padding-top:var(--margin-layout)}
main#wrap-main .list-product .form-group h2{padding-left: 27px;color:#000;}
main#wrap-main .wrap-page-new .form-control h3{color: #000;font-family: Roboto-Bold;font-size: 14px;font-weight: 700;margin:7.5px 0;}
main#wrap-main .checkBox-form .form-group[class*=col]{display: block;}
/*main#wrap-main .checkBox-form .form-group[class*=col-md-6]{display: flex;align-items: center;margin-bottom: 35px}*/
main#wrap-main .control-submit{display: grid;grid-template-columns: 1fr 1fr;grid-gap: 45px;/*margin-bottom: 50px;*/margin-top: 54px}
main#wrap-main .control-submit button{width: 100%}
main#wrap-main .control-submit .color-gray{background: #EDEDED;border-color: #EDEDED;color:#6A6A6A;}
main#wrap-main .control-submit .color-gray:hover{background: #bfbfbf;}
main#wrap-main .checkBox-form .col-md-6:nth-child(even){padding-left: 25px}
/*page-details*/
main#wrap-main .form-control p.name-details{font-family: Roboto-Bold;font-weight: 700;color: #6a6a6a}
main#wrap-main .form-control p.name-details>a{color: #0368FF;text-decoration: revert;}
main#wrap-main .edit-Page{text-align: right}
main#wrap-main .edit-Page>a{color: var(--color-main-green);border:1px solid var(--color-main-green);width: 120px;transition: .3s;display: inline-block;padding: 8px 0;text-align: center;border-radius: 3px;}
main#wrap-main .edit-Page>a:hover{background:var(--color-main-green);color:#fff; }
main#wrap-main label[for*="inlineCheckbo_"]{margin-bottom: 20px}
main#wrap-main h2.tab-new-title{font-size: 14px;margin-top:10px; font-family: Roboto-Bold;font-weight: 700;}
main#wrap-main .list-product #customers tr td>a.arrow-next{border:none;width:32px;height:32px; padding: 0;}
main#wrap-main .list-product #customers tr td>a.arrow-next:hover{background: inherit;}

/*sales_history-detail*/
main#wrap-main .control-submit.control-detail-page-delete{grid-template-columns: 1fr 1fr 1fr}
main#wrap-main .back-page{text-align: center;}
main#wrap-main .back-page a{transition: .3s;display: inline-block;color: #6A6A6A;font-size: 16px;width: 178px;text-align: center;padding: 13.5px 0;border:1px solid #6A6A6A;border-radius: 3px}
main#wrap-main .back-page a:hover{background: #6a6a6a;color: #fff}
main#wrap-main .details-history .form-group p.name-details {font-family: Roboto-Regular;font-weight:400;}
main#wrap-main .icon-datePicker{position: absolute;right: 21px}
main#wrap-main .icon-datePicker i{font-size: 18px}

/*page index*/

.daterangepicker .calendar-time {display: flex;width: 100px}
.daterangepicker select.hourselect{height: 35px}
main.page-index .form-row {margin-right: -15px;margin-left: -15px;}
main.page-index .form-row>[class*=col-] {padding-right: 15px;padding-left: 15px;}
main#wrap-main.page-index button {margin-top: 0}
main#wrap-main .form-control {margin:0;height: auto;line-height: 1;font-size: 14px;border:none;}
main#wrap-main input.form-control,main#wrap-main select.form-control{border:1px solid #E3E3E3}





