/* defautl */
*{margin: 0; padding: 0;}
*,*::before, *::after{box-sizing: border-box;}
p{margin-bottom: 0;}
a{color: black;}
a:hover{text-decoration: none;}
ul{list-style: none;}
body{font-family: "Roboto-Regular"; font-size: 14px;color:#000000;line-height: 16.41px;}
h1,h2,h3,h4,h5,h6{margin-bottom: 0;line-height: 1}
img{object-fit: cover}
/*fonts*/
@font-face {
	font-family:Roboto-Regular;
	src:url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
	url('./fonts/Roboto/Roboto-Regular.eot#iefix') format('embedded-opentype'),
	url('./fonts/Roboto/Roboto-Regular.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:Roboto-Bold;
	src:url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
	url('./fonts/Roboto/Roboto-Bold.eot#iefix') format('embedded-opentype'),
	url('./fonts/Roboto/Roboto-Bold.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}

/*default properties*/

:root{
	/*--color-font:;*/
	--color-gray: #EBECF5;
	--buttom-color: #3C79F3;
	--color-main: #FFFFFF; 
	--color-border: #F6F6F6;
	--padding-item-control: 9px 17px 9px 17px;
	--margin-layout:30px;
}

/*default class*/
body{background: var(--color-gray)}
body button{background: var(--buttom-color)}
body .set-layout{margin-bottom: 30px;padding:27px 30px;background: #fff}

/*login*/
/*form*/
input,button,button:focus{outline: none;outline-style: none;border: 0px;}
label{}
body input{display: block;width: 100%;line-height: 1;padding: 7.5px 15px;border: 1px solid #E3E3E3;border-radius: 3px;box-sizing: border-box; }
body button{color: #fff;transition:.2s;border:1px solid #3C79F3;border-radius: 3px}
main#wrap-main button:hover{background:#fff; border:1px solid ;color:#3C79F3;}

/*header*/
header#header,body footer#footer{background: var(--color-main)}
header#header{padding:10px 0;}
body .logo-web>a{display: inline-block;}
/*main*/
main#wrap-main>.wrapper-login{padding-top:76px;}
main#wrap-main .wrap-form-login{width: 480px;max-width: 100%;margin:0 auto;background: var(--color-main);border-radius: 10px;padding:47px 42px;}
main#wrap-main .wrap-form-login h2{font-size: 25px;margin-bottom: 30px;text-transform: uppercase;text-align: center;padding: 26px 0}
main#wrap-main .wrap-form-login label{font-size: 16px;margin-bottom: 15px}
main#wrap-main .wrap-form-login input{background: #f7f7f7;padding:14px 10px;margin-bottom: 15px}
main#wrap-main .wrap-form-login button{padding: 14px;width: 285px;max-width: 100%;border-radius: 3px;margin-top: 22px;}
main#wrap-main .wrap-form-login .control-button{text-align: center;}
main#wrap-main .wrap-form-login button {}       



/*footer*/
footer#footer{margin-top: 20px}
footer#footer.position{position: absolute;bottom: 0;width: 100%;z-index: 1}
footer#footer p{font-size: 16px;line-height: 19px;padding: 15px 0;text-align: center}
/*index*/
/*index*/
.wrapper{
	width: 1200px;margin:0 auto;
}
header#header>.container>.logo-web{height: 41px} 
/*tab-control*/
main#wrap-main .tab-control{width: 274px;position: absolute;height: calc(100vh - 100px);left: 0;top: 0;background: #fff;}
main#wrap-main .tab-control .logo-web{border-right: 1px solid var(--color-border);padding:var(--padding-item-control);display: flex;align-items: center;justify-content: space-between;}
main#wrap-main .item-control a{display: flex;padding: 18px 23px;border-top: 1px solid var(--color-border)}
main#wrap-main .item-control .text-name{display: flex;align-items: center;}
main#wrap-main .item-control .text-name h3{font-size: 16px;color: #7b7b7b;margin-left: 17px}
main#wrap-main .tab-control .icon-bar{cursor: pointer;}
/*layout-search*/
main#wrap-main .layout-search{margin-top: var(--margin-layout);}
main#wrap-main .layout-search h2{color: #000000;margin: 27px 0;font-size: 14px}
main#wrap-main .layout-search .form-controll{display: grid;grid-gap: 30px}
main#wrap-main .layout-search .form-controll-item{margin-bottom: 18px}
main#wrap-main .layout-search .form-controll-item label{margin-bottom: 18px;color:#6A6A6A;}
main#wrap-main .layout-search .form-2-item{grid-template-columns: 1fr 1fr}
main#wrap-main .layout-search .form-3-item{grid-template-columns: 1fr 1fr 1fr}
main#wrap-main .layout-search .control-button{grid-template-columns: 1fr 1fr 1fr;margin-top: 20px;margin-bottom: 12px}
main#wrap-main .layout-search .control-button button{padding:9px 0;}
main#wrap-main .list-product{padding:30px 0 0;}
main#wrap-main .list-product .form-controll{display: grid; grid-template-columns: 1fr 1fr 1fr;grid-gap: 30px}
main#wrap-main .list-product .form-controll label{padding:9px 0;margin-bottom: 32px;border: 1px solid #3C79F3;color:#3C79F3;border-radius: 3px;text-align: center;}
main#wrap-main .list-product #customers{width: 100%}
main#wrap-main .list-product #customers td, main#wrap-main .list-product #customers th {width: calc(100% / 3);padding: 6px 30px;color: #6a6a6a}
main#wrap-main .list-product #customers tr:nth-child(odd){background: #FAFBFF}
main#wrap-main .list-product #customers th{font-family: Roboto-Bold}
main#wrap-main .list-product #customers tr th{height: 50px}
main#wrap-main .list-product #customers tr th:nth-child(2),
main#wrap-main .list-product #customers tr td:nth-child(2){text-align: center;}
main#wrap-main .list-product #customers tr td:last-child{text-align: right;}
main#wrap-main .list-product #customers tr td>a{border: 1px solid #3C79F3;padding:9px 25px;border-radius: 3px;color:#3C79F3;display: inline-block;margin:1px 0; }

/**/
main#wrap-main .pagilation{display: flex;justify-content: center;}
main#wrap-main .pagilation ul{display: flex;}
main#wrap-main .pagilation ul li{}
main#wrap-main .pagilation ul li a{display: block;}
main#wrap-main .pagilation ul li a.active{font-size: 16px;border-radius: 100%;background: #3C79F3}






